


.corpoShop {
  padding: 2.5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.shopdiv {
  height: 85rem;
  
  cursor: auto;
  border-radius: 1rem ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: hidden; */
}
.shopdiv::after {
  content: none;
}
.shopdiv::before {
  content: none;
}
.shopdiv:active {
  transform: none;
}

.shopdiv:hover {
  background-color: white;
}

.shopsinistra {
  flex-direction: column;
  background: none;
  /* overflow: hidden; */
}

.shopsinistra:hover {
  background: none;
}

.shopdestra {
  overflow: hidden;
}

.shopdiv:active {
  transform: none;
  box-shadow: 5px 5px 7px;
}

.div-menuarticoli {
  transition: transform 0.5s, opacity 1s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  text-align: center;
  text-align: center;
  transform: scale(1);
  cursor: pointer;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.cnt-vocimenu {
  color: rgb(0, 0, 0);
  list-style-type: none;
  /* height: 100%; */
  height: 5rem;
  width: 100%;
  justify-content: space-around;
  cursor: auto;
}

.vocimenu {
  font-size: 1.7rem;
  align-items: center;
  justify-content: baseline;
  /* flex-wrap: nowrap; */
  position: relative;
  transition: all 0.2s ;
}

.vocimenu:hover {
  color: darkred;
  transform: scale(1.15);
}

.articoli {
  padding: 0.5rem 1rem;
}

.figure-img {
  height: 8rem;
  flex: 0 0 8rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}


.img_art{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.articoli_label {
  flex-grow: 7;
}

.articolodettaglio {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.contenitoreimmagine {
  flex-basis: 100%;
}

.immaginedettaglio {
  flex-basis: 70%;
  height: 50rem;
  padding: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.fotodettaglio{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.infodettaglio{
  flex-basis: 30%;
  height: 50rem;
  background-color: blue;
}
.descrizionedettaglio {
  flex-basis: 100%;
  background-color: green;
}


@media screen and (min-width: 651px) {
  
  .shopsinistra { 
    flex-grow: 2;
  }
  .shopdestra {
    flex-grow: 8;
  }
  .shopdiv {
    flex-basis: 20rem;
  }

}



