

@font-face {
  font-family: 'MyWebFont';
  src: url('Middleearth-ao6m.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Urbanist';
  src: url('Urbanist-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.8rem;
  font-family: 'MyWebFont', sans-serif;
  color: rgb(51, 51, 51);
  min-height: 100vh;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: linear-gradient(120deg, #f6d46580 0%, #f5d44163 100%);
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); */
}

html::-webkit-scrollbar-thumb {
background: linear-gradient(rgba(204, 63, 63, 0.774), rgb(175, 25, 25));
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
border-radius: 10px;
}

.container {
  display: flex;
}

.a-iconesocial:link,
.a-iconesocial:visited {
  text-decoration: none;
  color: darkred;
}

.a-iconesocial {
  height: 3rem;
  opacity: 0.8;
}

.top-pagina {
  height: 30rem;
  flex-direction: column;
}

.titolo {
  height: 85%;
  /* align-items: column; */
  flex-direction: column;
}

.immaginenegozio {
  background-image: url('../images/insegna.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 10;
  min-height: 15rem;
  position: relative;
}



.ham-menu {
  display: none;
}

.nav-bar {
  height: 15%;
}

.el-top {
  transition: all 0.5s;
}
.barracontatti {
  background: linear-gradient(to bottom,#f5d44163  0%, #ffffff80 100%);
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

@media screen and (max-width: 650px) {
  .corpo {
    transition: transform 0.3s;
  }

  .barracontatti {
    padding: 1rem;
    justify-content: space-between;
  }
  .contenitoreform {
    justify-content: center;
  }

  .contenitoresocial {
    display: none;
  }

  .nav-bar {
    transition: height 0.3s ease-in-out;
    height: 0;
    overflow: hidden;
  }

  .navclass {
    overflow: hidden;
    height: 22rem;
  }

  .lista {
    height: auto;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: transform 0.5s, opacity 0.3s;
    width: auto;
    height: auto;
  }

  .tasti {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
  }

  .tasti::before {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
    height: 2px;
    background: linear-gradient(
      to right,
      transparent 1%,
      darkred 50%,
      transparent 99%
    );
  }

  .tasti:active {
    transition: background 0.3s;
    background: linear-gradient(
      to right,
      transparent 0%,
      #f6d365 10%,
      #f5d441 90%,
      transparent 100%
    );
    color: darkred;
  }

  .top-pagina {
    height: auto;
  }

  .news {
    display: none;
  }

  .ham-menu {
    display: flex;
    cursor: pointer;
    font-size: 2.5rem;
    color: darkred;
    align-self: baseline;
  }

  .sezione {
    flex-basis: 30rem;
    flex-grow: 0;
  }
}

.contenitoresocial {
  gap: 1.8rem;
  align-items: center;
}

.contenitoreform {
  gap: 2rem;
}

#text-ricerca {
  font-family: 'Urbanist', Helvetica, sans-serif;
  color: rgb(51, 51, 51);
  border-radius: 5rem;
  height: 2.8rem;
  text-decoration: none;
  background: linear-gradient(120deg, #f6d46580 0%, #f5d44163 100%);
  border: none;
  outline: none;
  text-align: center;
  margin-right: 0.3rem;
}

#text-ricerca::placeholder {
  color: rgb(158, 157, 157);
  text-align: left;
  padding-left: 1rem;
}

#button-ricerca {
  border: none;
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 1.6rem;
  background-color: transparent;
  color: darkred;
  cursor: pointer;
}

#button-ricerca:hover {
  color: black;
}

/* menu principale */

.lista {
  color: rgb(0, 0, 0);
  list-style-type: none;
  height: 100%;
  justify-content: center;
}

.lista .tasti {
  font-size: 2rem;
  align-items: center;
  justify-content: baseline;
  flex-wrap: nowrap;
  position: relative;
  transition: color 0.3s;
}

.tasti::after {
  content: '';
  position: absolute;
  bottom: -0.4rem;
  width: 0;
  height: 2px;
  right: 50%;
  transform: translateX(50%);
  background: linear-gradient(
    to right,
    transparent 1%,
    darkred 50%,
    transparent 99%
  );
  transition: width 0.3s ease-out;
}

@media screen and (min-width: 651px) {
  .tasti:hover::after {
    width: 100%;
  }

  .sezione {
    flex-basis: 60rem;
  }

  .tasti:hover {
    color: darkred;
    cursor: pointer;
    transform: scale(1.05);
  }

  .lista {
    gap: 3%;
  }
  .nav-bar {
    padding-top: 1%;
  }
}

/* CORPO PRINCIPALE */ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/

.corpo {
  flex-wrap: wrap;
  /* overflow: hidden; */
  gap: 2rem;
  row-gap: 1.5rem;
  justify-content: center;
  padding-top: 2.5rem;
}

.sezione {
  /* flex-basis: 60rem; */
  flex-grow: 0;
  flex-shrink: 1;
  height: 30rem;
  transition: transform 0.5s, opacity 1s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  border-radius: 4rem;
  text-align: center;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  cursor: pointer;
}

.sezione:hover {
  box-shadow: 5px 5px 7px;
  background-color: rgb(250, 250, 152);
}

.sezione:active {
  transform: scale(0.98);
  transition: box-shadow 0.1;
  box-shadow: none;
}

.sezione::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url('../images/img-1.png');
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sezione::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #f6d365 0%, #f5d441 100%);
  border-radius: inherit;
  transition: opacity 0.5s;
  z-index: 8;
}

.rimuoviafter::after {
  opacity: 0;
}

.rimuovibefore::before {
  opacity: 0;
}

.hidden-1 {
  opacity: 0;
  transform: translateY(-8rem);
}

.hidden-2 {
  opacity: 0;
  transform: translateX(8rem);
}

.hidden-3 {
  opacity: 0;
  transform: translateX(-8rem);
}

.hidden-4 {
  opacity: 0;
  transform: translateY(8rem);
}

.overflowHidden {
  overflow: hidden;
}