{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4a31c2b27b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"/>
    {% block customStyle %}
    
    {% endblock %}
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="titolo container">
        <div class="barracontatti container">
          <div class="contenitoresocial container">
            <a class="a-iconesocial" href=""
              ><i class="el-top fa-brands fa-instagram"></i
            ></a>
            <a class="a-iconesocial" href=""
              ><i class="el-top fa-brands fa-tiktok"></i
            ></a>
            <a class="a-iconesocial" href=""
              ><i class="el-top fa-brands fa-facebook"></i
            ></a>
            <a class="a-iconesocial" href="">
              <i class="el-top fa-brands fa-whatsapp"></i
            ></a>
            <a class="a-iconesocial" href="">
              <i class="el-top fa-brands fa-telegram"></i
            ></a>
          </div>
          <div class="news&contatti ham-menu">
            <i class="el-top fa-solid fa-bars"></i>
          </div>
          <div class="contenitoreform container">
            <a class="el-top news&contatti contatti" href="">Contatti</a>
            <a class="el-top news&contatti news" href="">News</a>
            <div class="divform">
              <form class="container" action="/action_page.python">
                <input
                  type="text"
                  name=""
                  id="text-ricerca"
                  placeholder="Cerca..."
                />
                <button type="submit" id="button-ricerca">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="immaginenegozio"></div>
      </div>
      <nav class="nav-bar">
        <ul class="lista container">
          <a class="tasti container" href="/shop"><li>Lo shop</li></a>
          <a class="tasti container" href="/shop"><li>Il gioco</li></a>
          <a class="tasti container" href="/shop"><li>Gli eventi</li></a>
          <a class="tasti container" href="/shop"><li>Lo shop</li></a>
          <a class="tasti container" href="/shop"><li>Lo shop</li></a>
          <a class="tasti container" href="/shop"><li>Lo shop</li></a>
        </ul>
      </nav>
      {% block header %} {% endblock %}
    </header>
    {% block main %} 
    
    {% endblock %}

    {% block footer %} 
    
    {% endblock %}
    <script type="text/javascript">
      {% include 'gui/config.js' %}
      {% include 'gui/barrasuperioreView.js' %}
    </script>
   <script type="text/javascript"> {% block postscript %} {% endblock %} </script>
  </body>
</html>
