{% extends 'gui/base.html' %} 
{% load static %}

{% block customStyle %}

<link rel="stylesheet" href="{% static 'css/styleEvents.css' %}" />

{% endblock customStyle %}

{% block header %}
<div class="stikymenu"><img src="{% static 'images/libro_insegna.png' %}" alt=""></div>
{% endblock header %}

{% block main %}
<div class="container main">

  <div class="libro">

    <div class="copertina">
      <img src="{% static 'images/altracop.jpg' %}" alt="">
      <img src="{% static 'images/insegna.png' %}" alt="">

      <div class="contenitore-cal">

        <div class="wrapper-calendario">

          <div class="header">

            <p class="current-date"></p>

            <div class="icons">
              <span id="prev"><i class="fa-solid fa-chevron-left"></i></span>
              <span id="next"><i class="fa-solid fa-chevron-right"></i></span>
            </div>

          </div>
          
          <div class="calendar">
            <ul class="weeks">

              <li>Dom</li>
              <li>Lun</li>
              <li>Mar</li>
              <li>Mer</li>
              <li>Gio</li>
              <li>Ven</li>
              <li>Sab</li>
              
            </ul>

            <ul class="days">

              <!-- <li class="inactive">28</li>
              <li class="inactive">29</li>
              <li class="inactive">30</li>
              <li class="inactive">31</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li class="active">20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li class="inactive">1</li> -->
              
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="pagina1">
      <h2>Draft Magic formato Commander.</h2>
      <figure class="immaginEvento"><img src="{% static 'images/evento.jpeg' %}" alt=""></figure>
      <p>Mercoledi 24 Gennaio ci sarà il primo evento draft di Magic con Ravnica Remastered. Lorem ipsum dolor sit amet consectetur adipisicing elit. In accusamus quae mollitia quas eveniet. Vel repellendus sed alias sit ipsum?        Non potete mancare.
      Per info: <a href="tel: +393208259087">+393208259087</a>
      </p>
      <div id="iscrizione">Iscriviti ora!</div>
    </div>

  </div>

</div>





{% endblock main %}

{% block postscript %} 

{% include 'gui/Events.js' %}

{% endblock postscript %}