
{% extends 'gui/base.html' %} 
{% load static %}


{% block customStyle %}

<link rel="stylesheet" href="{% static 'css/styleShop.css' %}" />

{% endblock customStyle %}

{% block main %}




<div class="container corpo corpoShop">
  <div class="container  div-menuarticoli" data-a="1">

    <ul class="cnt-vocimenu container">
      <a class="vocimenu container" href=""><li>Fumetti</li></a>
      <a class="vocimenu container" href=""><li>Manga</li></a>
      <a class="vocimenu container" href=""><li>Giochi da tavolo</li></a>
      <a class="vocimenu container" href=""><li>Giochi di ruolo</li></a>
      <a class="vocimenu container" href=""><li>Action figures</li></a>
      <a class="vocimenu container" href=""><li>Gadgets</li></a>
    </ul>

  </div>
  <div class="container hidden-1 sezione shopdiv shopsinistra" data-a="1" >
    <!-- {% for articolo in articoli %}

    <div class="articoli">{{articolo.id}}</div>
  
      {% endfor %} -->
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"><h4 class="nomearticolo">Il fumetto di Capitan America</h4>
    <p class="categoriaarticolo">Fumetti</p></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/84/c1/e3/84c1e380e7232869194c8f21e0da70b2.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class=" figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://m.media-amazon.com/images/I/81QBa8jYBVL._AC_UF894,1000_QL80_.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>  
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>
    <div class="articoli container"><figure class="figure-img"><img class="img_art" src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg" alt=""></figure><div class="articoli_label"></div></div>  
  </div>

  <div class="container hidden-2 sezione shopdiv shopdestra" data-a="2">

    <div class="container articolodettaglio ">
      <div class="container dettagliorigaSup"><div id="img-container" >
        <img  src="https://www.troppotogo.it/media/catalog/product/cache/8f4fd5ee38363f25178cd013b461924c/p/p/pp9494sw_star_wars_darth_vader_light_with_sound_square_lifestyle_1.jpg" />
    </div><div class="caratteristicheProd"></div></div>

        <!-- <figure class="container immaginedettaglio"><img class="fotodettaglio" src="https://www.troppotogo.it/media/catalog/product/cache/8f4fd5ee38363f25178cd013b461924c/p/p/pp9494sw_star_wars_darth_vader_light_with_sound_square_lifestyle_1.jpg" alt=""></figure>
        <div class="infodettaglio"></div> -->

      <div class="dettagliorigaInf">
        <h4>Le Case della Follia</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, autem tenetur commodi nam sunt necessitatibus, doloribus placeat, eius pariatur odit minus obcaecati asperiores iure consequuntur animi quod quis fugiat! Voluptatibus.</p>
      </div>
    </div>

  </div>


</div>


{% endblock main %} 

{% block postscript %} 


{% include 'gui/shopJs.js' %}

{% endblock postscript %}

