
{% extends 'gui/base.html' %} 
{% load static %}


{% block customStyle %}

<link rel="stylesheet" href="{% static 'css/styleShop.css' %}" />

{% endblock customStyle %}

{% block header %}
<!-- <img src="{% static 'images/libro_insegna.png' %}" alt=""> -->
<div class="btnVetrinaIniziale hidden-3"><i class="fa-solid fa-arrow-left-long"></i></div>
<div class="piccolaSpie"><p>Ripristina la vetrina scelta del team de <span>La Quarta Era</span></p></div>
<div class="stikymenu"><img src="{% static 'images/libro_insegna.png' %}" alt=""></div>


<div class="container vetrina hidden-1">
  

{% for prodotto in vetrina %}

  <div class="articoloInVetrina transitionclass sfocArtVet" data-id="{{prodotto.id}}" data-descrizione="{{prodotto.descrizione}}" data-inserimento="{{prodotto.creation}}" data-descrizionebreve = "{{prodotto.descrizione_breve}}">

  <img class="immagineInVetrina" src="{% get_media_prefix %}{{prodotto.url_img}}" alt="{{prodotto.titolo}}">

  </div>

{% endfor %}
{% for prodotto in vetrina %}

  <div class="articoloInVetrina transitionclass sfocArtVet" data-id="{{prodotto.id}}" data-descrizione="{{prodotto.descrizione}}" data-inserimento="{{prodotto.creation}}" data-descrizionebreve = "{{prodotto.descrizione_breve}}">

  <img class="immagineInVetrina" src="{% get_media_prefix %}{{prodotto.url_img}}" alt="{{prodotto.titolo}}">

  </div>

{% endfor %}

  <button class="btn_vet next-pg hidden-4"><i class="fa-solid fa-arrow-right"></i></button>
  <button class="btn_vet prev-pg hidden-4"><i class="fa-solid fa-arrow-left"></i></button>
</div>

{% endblock header %}
{% block main %}




<div class="container corpo corpoShop overflowHidden">
  <div class="container  div-menuarticoli" data-a="1">

    <ul class="cnt-vocimenu container">
      <a class="vocimenu container" href=""><li>FUMETTI</li></a>
      <a class="vocimenu container" href=""><li>MANGA</li></a>
      <a class="vocimenu container" href=""><li>GIOCHI DA TAVOLO</li></a>
      <a class="vocimenu container" href=""><li>GIOCHI DI RUOLO</li></a>
      <a class="vocimenu container" href=""><li>ACTION FIGURES</li></a>
      <a class="vocimenu container" href=""><li>GADGETS</li></a>
      <form id="ricercaShopForm" class="container" action=""><input id="shopRicerca" type="text" placeholder="Cerca..."><button id="shopSubmit" type="submit" value="">Cerca</button></form>
    </ul>

  </div>
  <div class="container hidden-1 sezioneshopdiv shopdiv shopsinistra" data-a="1" >

    <div id="hamMenuLista" class="container hidden-1">
      <div class="hoverabile">
        <span class="iconaMenuLista">
          <i class="fa-solid fa-list"></i>
        </span>
        <div class="menuNascosto container">
          <div id="sortAl">A - z</div>
          <div id="sortRevAl">Z - a</div>
          <div id="sortNum">Ultimo aggiornamento</div>
          <div id="sortRevNum">Primo aggiornamento</div>
          <div id="mettiInVet">Metti in vetrina</div>
        </div>
      </div>
    </div>

    

    <div class="container contenitoreArticoli">

      {% for articolo in articoli %}
      <div class="articoli container" data-id="{{articolo.id}}" data-descrizione="{{articolo.descrizione}}" data-inserimento="{{articolo.creation}}">
        <figure class="figure-img">
          <img class="img_art" src="{% get_media_prefix %}{{articolo.url_img}}"alt="{{articolo.titolo}}">
        </figure>
        <div class="articoli_label">
          <h4 class="nomearticolo">{{articolo.titolo}}</h4>
          <p class="categoriaarticolo">{{articolo.descrizione_breve}}</p>
        </div>
      </div>
      {% endfor %}

      <button class="ajax" onclick="cambiaPg({{pagina}})">{{pagina}}</button>

      {{pagine_totali}}
    </div>

  </div>
  

  <div class="container hidden-2 sezioneshopdiv shopdiv shopdestra" data-a="2">

    <div class="container articolodettaglio">
      <div class="container dettagliorigaSup">
        
          <div id="zoomDaZoom" class="magnify-wrapper2">
            <div id="lenteIngrandimento"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
            <img
              src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg"
              id="main-img2" />
          </div>
      
      <div class="caratteristicheProd">
        <h4 class="titoloArticolo">Le Case della Follia AHAH ahahhd fiwekd</h4>

        

      </div></div>

      <div class="dettagliorigaInf">
        <h4 class="titoloPiccolo">Le Case della Follia </h4>
        <p class="descrizioneLunga">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, autem tenetur commodi nam sunt necessitatibus, doloribus placeat, eius pariatur odit minus obcaecati asperiores iure consequuntur animi quod quis fugiat! Voluptatibus.</p>
      </div>
    </div>

  </div>


</div>
<div class="overlay">

  <div class="xOverlay"><i class="fa-regular fa-circle-xmark"></i></div>
  <div class="contenitoreLateraleImg container">

    <button class="btnListaLat buttonSu"><i class="fa-solid fa-chevron-up"></i></button>
      
    <div class="listaImmagini">


      <figure class="figImmaginiListaLat"><img class="imgAlt" src="https://static-it.gamestop.it/images/products/263252/3max.jpg" alt=""></figure>
      <figure class="figImmaginiListaLat"><img class="imgAlt" src="https://i.pinimg.com/564x/ba/3b/28/ba3b284619d02f8fd4d43f45f525a5bb.jpg" alt=""></figure> 
      <figure class="figImmaginiListaLat"><img class="imgAlt" src="https://m.media-amazon.com/images/I/51+cWmSi5-L._AC_UF1000,1000_QL80_.jpg" alt=""></figure>
      <figure class="figImmaginiListaLat"><img class="imgAlt" src="https://i.pinimg.com/564x/5a/9d/0b/5a9d0b70e3870cac114c92dee5006587.jpg" alt=""></figure> 
      <figure class="figImmaginiListaLat"><img class="imgAlt" src="https://i.pinimg.com/564x/7f/e1/a4/7fe1a42e2f73c2b48d30f49e599350b1.jpg" alt=""></figure>
    

    </div>

    <button class="btnListaLat buttonGiu"><i class="fa-solid fa-chevron-down"></i></button>

    <div class="container dots">
    </div>

  </div>
  <div id="zoom" class="magnify-wrapper">

    <img
      src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg"
      id="main-img" />
    <div id="large-img" class="largeImg" style="background: url('https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg')
    no-repeat #fff;">
    </div>
  </div>
  

</div>



<!-- <div class="overlay destra">

  <div class="xOverlay"><i class="fa-regular fa-circle-xmark"></i></div>
  <div id="zoom" class="magnify-wrapper3 ">
    <img
      src="https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg"
      id="main-img" />
    <div id="large-img" class="largeImg" style="background: url('https://i.pinimg.com/564x/b4/93/ac/b493ac4a6492225d5728f179c5854233.jpg')
    no-repeat #fff;">
    </div>
  </div>
  

</div> -->

{% endblock main %} 

{% block postscript %} 


{% include 'gui/shopJs.js' %}

{% endblock postscript %}

